.group {
    width: 100%;
    background-color: #0D47A1;
    border-radius: 10px;
}

.inp {
    background-color: #0D47A1;
    border-radius: 10px 0 0 10px;
    border: none;
    padding: 0.5rem 1rem;
}

.arrow {

    padding: 0.5rem 1rem;
    border-radius: 0 10px 10px 0;
}

.im {
    border-radius: 1rem;
}


@keyframes slideInDown {
    from {
        transform: translatey(70px);
        opacity: 0;
    }

    to {
        transform: translatey(0);
        opacity: 1;
    }
}

.footer-slide-down {
    animation: slideInDown 3s ease-out forwards;
}


@media (max-width: 1200px){
 footer .footer div{
    margin: 2%;
 }
}

@media (max-width: 992px) {

    footer .footer {
        display: flex;
        flex-wrap: wrap;

    }


    footer .footer .col-three,
    footer .footer .col-four,
    footer .footer .col-five {
        margin-top: 5%;
    }

}

@media (max-width: 768px) {
    footer .footer .col-two{
        margin-top: 5%;
    }

}